@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoSwQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v11/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 10%;
    overflow: hidden;
    flex: 1;
    display: block;
    background-color: #D9D9D9;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 3px 10px gray;
    font-family: 'Atkinson Hyperlegible';
  }
  .password-visibility{
    position: relative;
    top: -39px;
    left: 92%;
    cursor: pointer;
    font-size:17px;
  }
  
  .signup-form{
    width: 85%;
    margin: 0 auto; /*centers elements in div */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Ver esta otra forma de hacerlo*/
  } 

  .signup h1 {
    text-align: center;
    font-size: 52px;
    font-weight: bolder;
    margin-bottom: 20px; 
    margin-top: 30px;
  }
  
  .signup-text {
    text-align: center;
    font-size: 20px;
  }

  .signup-text  a{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #2190FF;
  }

  .form-group {
    margin-bottom: 20px;
  }

  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-control {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* It means that border on the input box is actually inside the width of the input */
    position: relative;
  }

  .role-list {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
  .btn-group {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #2DBFDF;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .btn-danger {
    background-color: #D43131;
    color: #fff;
  }

   .password-icon {
     position: absolute; 
     color: gray;
     margin-left: -30px;
     margin-top: 10px;
}

