.profile-card {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 10%;
    background-color: white;
    border: 20px solid rgb(182, 181, 181);
}

.profile-card h2 {
    text-align: center;
    font-weight: bolder;
}

.profile-card-info {
    padding: 2%;
}

.profile-card-info span{
    font-weight: bold;
}

.edit-profile-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    background-color: #2DBFDF;
    color: #fff;
    margin-top: 10px;
}